@import "tailwindcss";

:root {
  --background: #F5F5DC;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: 'Courier Prime', 'Roboto Mono', monospace;
  --color-nude-beige: #F5F5DC;
  --color-nude-cream: #EADDCA;
  --color-black: #000000;
  --color-dark-grey: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #111111;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}
